[submodule "__test__/vscode-deno"]
	path = __test__/vscode-deno
	url = https://github.com/axetroy/vscode-deno
[submodule "__test__/v"]
	path = __test__/v
	url = https://github.com/vlang/v.git
[submodule "__test__/test-first-commit"]
	path = __test__/test-first-commit
	url = https://github.com/release-lab/test-first-commit.git
