name: ci

on: [push, pull_request]

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        go: ["^1.17"]
        os: [ubuntu-latest, macOS-latest, windows-latest]
    name: Go ${{ matrix.go }} in ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true

      - uses: actions/setup-go@v3
        with:
          stable: '!contains(${{ matrix.go }}, "beta") && !contains(${{ matrix.go }}, "rc")'
          go-version: ${{ matrix.go }}

      - uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Environment
        run: |
          go version
          go env
          node -v
          npm -v

      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.43.0
          args: --timeout=5m30s
          skip-go-installation: true

      - name: Install npm package
        working-directory: ./npm
        run: |
          npm i

      - name: Build npm package
        working-directory: ./npm
        run: |
          npm run build

      - name: Test
        run: |
          make test
          go mod tidy
          git checkout ./

      - name: Generate share lib
        run: |
          go build -buildmode=c-shared -o dist/whatchanged.dylib ./cmd/whatchanged-ffi
          go build -buildmode=c-shared -o dist/whatchanged.dll ./cmd/whatchanged-ffi
          go build -buildmode=c-shared -o dist/whatchanged.so ./cmd/whatchanged-ffi

      - name: Build
        uses: goreleaser/goreleaser-action@v3
        with:
          version: latest
          args: release --rm-dist --skip-publish --skip-validate

      - name: Generate changelog
        run: |
          go run -mod=vendor ./cmd/whatchanged/main.go HEAD~

  release:
    name: Release to Github
    if: startsWith(github.ref, 'refs/tags/') && github.repository == 'release-lab/whatchanged'
    needs: [ci]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v3
        with:
          stable: '!contains(${{ matrix.go }}, "beta") && !contains(${{ matrix.go }}, "rc")'
          go-version: ^1.17

      - name: Generate release.md
        run: |
          ./cmd/whatchanged/run.sh --output=release.md
          cat release.md

      - name: Generate share lib
        run: |
          go build -buildmode=c-shared -o lib/whatchanged.dylib ./cmd/whatchanged-ffi
          go build -buildmode=c-shared -o lib/whatchanged.dll ./cmd/whatchanged-ffi
          go build -buildmode=c-shared -o lib/whatchanged.so ./cmd/whatchanged-ffi

      - name: Release to Github
        uses: goreleaser/goreleaser-action@v3
        with:
          version: latest
          args: release --rm-dist --release-notes=./release.md
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
